body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #e73c1e, #d4e766);
}

.resume {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background: #04dee6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.profile-picture {
    flex-shrink: 0;
    margin-right: 1rem;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.header-text {
    flex-grow: 1;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #333;
}

header p {
    margin: 0.5rem 0;
    color: #777;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 1.5rem;
    color: #333;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

section p, section ul {
    margin: 0 0 1rem 0;
    color: #555;
}

section ul {
    padding-left: 1

